@model PraiseCMS.DataAccess.Models.SmallGroupCategoryType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SmallGroupCategoryType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(x => x.Name)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(x => x.ChurchId)
        </dt>

        <dd>
            @Html.DisplayFor(x => x.ChurchId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
