@model DepositSummaryDashboard

@{
    ViewBag.Title = "Deposit Summary";
}

@section leftsubheader{
    @Html.Partial("_GivingSubheader")
}

<style>
    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        cursor: not-allowed !important;
    }

    #my_table_wrapper .wrapper {
        padding: 0 !important;
    }
</style>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewBag.Title
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm(RouteHelpers.CurrentAction, RouteHelpers.CurrentController, FormMethod.Get, new { @class = "form", role = "form" }))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group row">
                        <div class="col-sm-6 col-lg-4">
                            <label>Start Date:</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control datepicker", onchange = "startDateSelect(this)", autocomplete = "off" })
                                <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <label>End Date:</label>
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control endDatepicker", autocomplete = "off" })
                                <div class="input-group-append"><span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <button type="submit" class="btn btn-primary" style="margin-top:25px;">Filter Results</button>
                            <a href="/giving/DepositSummary" class="btn btn-light-dark" style="margin-top:25px;">Clear</a>
                        </div>
                    </div>
                }
                <div class="separator separator-dashed my-5"></div>
                <table id="my_table" class="table table-striped table-bordered table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl" style="width:100%">
                    <thead>
                        <tr>
                            <th>Deposit Id</th>
                            <th>Deposit Date</th>
                            <th>From</th>
                            <th>Description</th>
                            <th width="15%" class="text-right">Gross Amount</th>
                            <th width="15%" class="text-right">Net Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var deposit in Model.Deposits)
                        {
                            <tr>
                                <td>
                                    @(Convert.ToInt32(deposit.DepositID) > 0 ? deposit.DepositID : "")
                                </td>
                                <td>
                                    @Convert.ToDateTime(deposit.DepositDate).ToShortDateString()
                                </td>
                                <td>
                                    @deposit.From
                                </td>
                                <td>
                                    @deposit.Description
                                </td>
                                <td class="text-right">
                                    @Convert.ToDecimal(deposit.GrossAmount).ToCurrencyString()
                                </td>
                                <td class="text-right">
                                    @Convert.ToDecimal(deposit.NetAmount).ToCurrencyString()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <table class="table table-bordered" style="width:100%">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold" colspan="4">Total</td>
                            <td width="15%" class="font-weight-bolder text-right">@Model.Deposits.Sum(x => Convert.ToDecimal(x.GrossAmount)).ToCurrencyString()</td>
                            <td width="15%" class="font-weight-bolder text-right">@Model.Deposits.Sum(x => Convert.ToDecimal(x.NetAmount)).ToCurrencyString()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/assets/css/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#my_table').dataTable({
            responsive: true,
            bFilter: false,
            bInfo: true,
            bPaginate: true,
            bLengthChange: false,
            bAutoWidth: false,
            searching: false,
            ordering: false,
            pageLength: 50,
            orderable: false,
            "dom": '<"wrapper"flipt>'
        });
        $(".select2-selection").on("focus", function () {
            $(this).parent().parent().prev().select2("open");
        });
        $('.endDatepicker').datepicker({
            todayHighlight: true,
            todayBtn: "linked",
            orientation: "bottom left",
            autoclose: true,
        });
    });

    function startDateSelect(eve) {
        $('#EndDate').val('');
        var date = eve.value.split('/');
        $('.endDatepicker').datepicker('destroy');
        $('.endDatepicker').datepicker({
            todayHighlight: true,
            todayBtn: "linked",
            autoclose: true,
            orientation: "bottom left",
            startDate: new Date(date[2], parseInt(date[0]) - 1, date[1]),
        });
    }
</script>