<a href="/people" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-87345006275f4bcae00d144f98a62a @Html.IsActive("people", "Index", true)">People Dashboard</a>
<a href="/people/list" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-9370934710ff3fb19d9bf04797b9d4 @Html.IsActive("people", "list", true)">List</a>
<a href="/people/households" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-289939535677e43315fde746caa4aa @Html.IsActive("people", "households", true)">Households</a>
<a href="/attendance" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-8731643575db043bd252a54284bee1 @Html.IsActive("attendance", "Index", true)">Attendance</a>
<a href="/salvations" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-8827179569f43ed891928d4c54a94b @Html.IsActive("salvations", "Index", true)">Salvations</a>
<a href="/baptisms" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-1537168360aba20b87b11d491c8694 @Html.IsActive("baptisms", "Index", true)">Baptisms</a>
<a href="/prayerrequests" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-95936354299c1669b236e5435cb4a9 @Html.IsActive("prayerrequests", "Index", true)">Prayer Requests</a>
<a href="/users" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-6190518429afaf0ccebdfe4ccabaf4 @Html.IsActive("users", "Index", true)">Users</a>
@*<a href="/people/communicationgroups" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module- @Html.IsActive("people", "communicationgroups", true)">Communication Groups</a>*@