@using PraiseCMS.Shared.Methods
@model PraiseCMS.DataAccess.Models.HouseholdDashboard

@{
    var household = Model.Households.FirstOrDefault()?.Display;
    var householdId = Model.Households.FirstOrDefault()?.Id;
    ViewBag.Title = $"{household} Household Members";
}

@section leftsubheader{
    @Html.Partial("_PeopleSubheader")
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewBag.Title
            </h3>
        </div>
        <div class="card-toolbar">
            @if (!string.IsNullOrEmpty(ViewBag.ReturnUrl))
            {
                <a href="@ViewBag.ReturnUrl" class="btn btn-light-dark btn-sm font-weight-bold mr-2">Back</a>
            }
            else
            {
                <a href="/people/households" class="btn btn-light-dark btn-sm font-weight-bold mr-2">Back</a>
            }
            @Html.AjaxModalLink("Add Member", $"/people/_CreateHouseholdMember?householdId={householdId}", "Add Household Member", "Save", "btn btn-light-primary btn-sm font-weight-bold", "")
        </div>
    </div>
    <div class="card-body">
        @if (Model.HouseholdMembers.Any())
        {
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="20%" class="text-center">Family Role</th>
                            <th width="20%" class="text-center">Date Added</th>
                            <th width="10%" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model.HouseholdMembers)
                        {
                            <tr>
                                <td>
                                    @if (member.UserId.IsNotNullOrEmpty())
                                    {
                                        <a href="/users/userprofile?Id=@member.UserId&type=user" data-toggle="tooltip" title="View profile">@member.MemberName</a>
                                    }
                                    else
                                    {
                                        <a href="/users/userprofile?Id=@member.PersonId&type=person" data-toggle="tooltip" title="View profile">@member.MemberName</a>
                                    }
                                    @if (member.IsHeadofHousehold)
                                    {
                                        <i class="fas fa-crown text-warning" data-toggle="tooltip" title="Head of household"></i>
                                    }
                                </td>
                                <td class="text-center">@member.FamilyRole</td>
                                <td class="text-center">@Convert.ToDateTime(member.CreatedDate).ToShortDateString()</td>
                                <td class="text-center">
                                    @Html.AjaxModalLink("<i class='fas fa-user-edit text-hover-primary'></i>", $"/people/_EditHouseholdMember?id={member.Id}", "Update Household Member", "Update", "mr-2", "")

                                    <a href="#" onclick="deleteHouseholdMember('@member.Id')" data-toggle="tooltip" title="Remove member"><i class="fas fa-trash-alt text-hover-danger"></i></a>
                                    <a id="delete-household-member-@member.Id" hidden href="/people/DeleteHouseholdMember?id=@member.Id"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="text-center">
                <p>You don't have any members assigned to this household yet. @Html.AjaxModalLink("Do you want to add a member?", $"/people/_CreateHouseholdMember?householdId={householdId}", "Add Household Member", "Save", "ml-2", "")</p>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function deleteHouseholdMember(id) {
        Swal.fire({
            title: "Remove Household Member",
            text: "Are you sure you want to remove this person from the household?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#aaa',
            cancelButtonText: 'Cancel',
            confirmButtonText: 'Yes'
        }).then((result) => {
            if (result.isConfirmed) {
                $('#delete-household-member-' + id)[0].click();
            }
        });
    }
</script>