@model PraiseCMS.DataAccess.Models.SermonNoteView
<style>
    .modal-dialog {
        max-width: 60% !important;
        width: auto;
    }
</style>
<div class="modal fade" id="ShowNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <div class=" row ml-auto">
                    <form action="/ExportMedia/Print" method="post" target="_blank" id="printform">
                        <input type="hidden" name="Message" id="printMsg" value="" />
                        <input type="hidden" name="NoteType" id="printNoteType" value="" />
                        <input type="button" id="printsubmit" class="btn btn-light-primary font-weight-bold mr-4" value="Print" />
                    </form>

                    <form action="/ExportMedia/ExportPDF" method="post" target="_blank" id="pdfform">
                        <input type="hidden" name="Message" id="pdfMsg" value="" />
                        <input type="hidden" name="NoteType" id="pdfNoteType" value="Blank" />
                        <input type="button" class="btn btn-light-primary font-weight-bold mr-4" id="pdfsubmit" value="PDF" />
                    </form>
                </div>
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SermonNote.SermonId)
            @Html.HiddenFor(x => x.SermonNote.ChurchId)
            @Html.HiddenFor(x => x.SermonNote.CreatedBy)
            @Html.HiddenFor(x => x.SermonNote.CreatedDate)
            @Html.HiddenFor(x => x.SermonNote.Message)
            @Html.HiddenFor(x => x.SermonNote.PastorOnlyNotes)
            @Html.HiddenFor(x => x.SermonNote.Id)
            <div class="modal-body text-dark">
                <div id="sermonnotes-div">
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <img src="~/Content/assets/image/highlands_logo.png" height="50" class="mx-2 w-auto" />
                                    </div>
                                    <hr />
                                </div>
                                <div class="col-md-6">

                                    <hr style="margin-top: 4.8rem;" />

                                </div>
                                <div id="msg" class="ml-3 text-justify pr-3">
                                    @Model.SermonNote.Message
                                </div>
                                @Html.HiddenFor(x => x.SermonNote.NoteType)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#editSave").hide();
        $("#editCancel").hide();

        var msg = $("#msg").html();
        msg = msg.replace(/&lt;/g, "<");
        msg = msg.replace(/&gt;/g, ">");
        msg = msg.replace(/&amp;nbsp;/g, "");

        $("#msg").html(msg);

        $("#msg").find(".input-full").each(function () {
            var value = $(this).text();
            $(this).before("<input type='text'  size='57' readonly value='" + value + "' class='input-full border-bottom border-top-0  border-right-0 border-left-0 notesInput' style=' width: 100%;' />");
            $(this).remove();
        });

        $(".table td").css({ "border-top": 0 });
    });

    $("#editFillNote").click(function () {
        $(this).hide();
        $("#editSave").show();
        $("#editCancel").show();
        var MsgInputs = $("#msg :input");
        $(MsgInputs).each(function () {
            $(this).attr("readonly", false);
        });
    });

    $("#editCancel").click(function () {
        $(this).hide();
        $("#editSave").hide();
        $("#editFillNote").show();
        var MsgInputs = $("#msg :input");
        $(MsgInputs).each(function () {
            $(this).attr("readonly", true);
        });
    });

    $("#editSave").click(function () {
        InputValues();
        var msg = $("#msg").html();
        var Id = $("#SermonNote_Id").val();
        var sermonID = $("#SermonNote_SermonId").val();
        var ChurchId = $("#SermonNote_ChurchId").val();
        var CreatedBy = $("#SermonNote_CreatedBy").val();
        var CreatedDate = $("#SermonNote_CreatedDate").val();
        var NoteType = $("#SermonNote_NoteType").val();
        var obj = {
            Id: Id,
            sermonID: sermonID,
            ChurchId: ChurchId,
            CreatedBy: CreatedBy,
            CreatedDate: CreatedDate,
            NoteType: NoteType,
            Message: msg,
        };
        $.ajax({
            url: "/Media/_EditFilledSermonNotes",
            type: 'post',
            data: obj
        });
    });

    $("#printsubmit").click(function () {
        $("#printMsg").val($("#SermonNote_Message").val());
        $("#printNoteType").val($("#SermonNote_NoteType").val());
        $("#printform").submit();
    });

    $("#pdfsubmit").click(function () {
        $("#pdfMsg").val($("#SermonNote_Message").val());
        // $("#pdfNoteType").val($("#SermonNote_NoteType").val());
        $("#pdfform").submit();
    });
</script>