@model PraiseCMS.DataAccess.Models.ViewModels.SermonViewModel

@{
    ViewBag.Title = "Series | Media ";
}

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-bible"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.Title
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col">
                <h3>@Model.Series.Title</h3>
            </div>
        </div>
        <div class="row">
            @if (Model.SermonList.Any())
            {
                foreach (var sermon in Model.SermonList)
                {
                    <div class="col-md-4" style="margin-bottom:20px;">
                        <a href="@Url.Action("Sermon", "Media", new { sermonId = sermon.Id})" class="kt-link">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/assets/media/products/product2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@sermon.Title</h5>
                                    <p class="card-text">@sermon.TopicId</p>
                                    <p class="text-muted">@sermon.CreatedDate.ToShortDateString()</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>