<footer class="site-footer section b-t">
    <div class="container pb-3">
        <div class="row gap-y text-center text-md-start">
            <div class="col-md-4 me-auto">
                <img src="~/Content/img/praise_logo.png" alt="Praise CMS" class="logo">
                <p>Praise CMS is a powerful, passionately crafted church management system designed to help God's kingdom through the local church.</p>
            </div>
            <div class="col-md-2 d-none d-sm-block">
                <h6 class="py-2 bold">Features</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="@Url.Action("Giving","Features")">Giving</a>
                    <a class="nav-item py-2" href="@Url.Action("Analytics","Features")">Analytics</a>
                </nav>
            </div>
            <div class="col-md-2 d-none d-sm-block">
                <h6 class="py-2 bold">&nbsp;</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="@Url.Action("PrayerRequests","Features")">Prayer Requests</a>
                    <a class="nav-item py-2" href="@Url.Action("People","Features")">People</a>
                </nav>
            </div>
            <div class="col-md-2">
                <h6 class="py-2 bold">&nbsp;</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="@Url.Action("Index","WhoWeAre")">Pricing</a>
                    <a class="nav-item py-2" href="@Url.Action("Index","Testimonials")">Schedule a Demo</a>
                    <a class="nav-item py-2" href="@Url.Action("Index","Contact")">Blog</a>
                </nav>
            </div>
            <div class="col d-block d-sm-none">
                <h6 class="py-2 bold">Features</h6>
                <nav class="nav flex-column">
                    <a class="nav-item py-2" href="@Url.Action("Giving","Features")">Giving</a>
                    <a class="nav-item py-2" href="@Url.Action("PrayerRequests","Features")">Prayer Requests</a>
                    <a class="nav-item py-2" href="@Url.Action("Analytics","Features")">Analytics</a>
                    <a class="nav-item py-2" href="@Url.Action("People","Features")">People</a>
                </nav>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row small align-items-center">
            <div class="col-md-6">
                <p class="mt-2 mb-md-0 text-secondary text-center text-md-start">@DateTime.Now.Year Praise CMS, LLC. All Rights Reserved @*| <a href="@Url.Action("Index","Terms")">Terms & Conditions</a>*@</p>
            </div>
            <div class="col-md-6">
                <nav class="nav justify-content-center justify-content-md-end">
                    <a href="https://twitter.com/PraiseCMS" target="_blank" class="me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://www.facebook.com/praisecms" target="_blank" class="me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.instagram.com/praisecms/" target="_blank" class="me-3"><i class="fab fa-instagram fa-2x"></i></a>
                </nav>
            </div>
        </div>
    </div>
</footer>