@using System.Configuration
<nav class="st-nav navbar main-nav navigation fixed-top" id="main-nav">
    <div class="container">
        <ul class="st-nav-menu nav navbar-nav">
            <li class="st-nav-section nav-item"><a href="#main" class="navbar-brand"><img src="~/Content/img/praise_logo.png" alt="Praise CMS" class="logo logo-sticky d-inline-block d-md-none"> <img src="~/Content/img/praise_logo_white_blue.png" alt="Praise CMS" class="logo d-none d-md-inline-block"></a></li>
            <li class="st-nav-section st-nav-primary nav-item">
                <a class="st-root-link item-company st-has-dropdown nav-link" data-dropdown="components">Features<i class="fas fa-chevron-down m-2 d-inline"></i></a>
                <a class="st-root-link nav-link" href="@Url.Action("Index", "Pricing")">Pricing</a>
                <a class="st-root-link nav-link" href="@Url.Action("Index", "ScheduleDemo")">Schedule a Demo</a>
                <a class="st-root-link nav-link" href="@Url.Action("Index", "Blog")">Blog</a>
            </li>
            <li class="st-nav-section st-nav-secondary nav-item">
                <a class="btn btn-rounded btn-outline me-3 px-3" href="@ConfigurationManager.AppSettings["LoginPage"]"><i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">LOG IN</span> </a>
                <a class="btn btn-rounded btn-solid px-3" href="@($"{ConfigurationManager.AppSettings["DashboardUrl"]}Account/Register")"><i class="fas fa-user-plus d-none d-md-inline me-md-0 me-lg-2"></i> <span class="d-md-none d-lg-inline">SIGN UP</span></a>
            </li><!-- Mobile Navigation -->
            <li class="st-nav-section st-nav-mobile nav-item">
                <button class="st-root-link navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <div class="st-popup">
                    <div class="st-popup-container">
                        <a class="st-popup-close-button">Close</a>
                        <div class="st-dropdown-content-group">
                            <h4 class="text-uppercase regular">Features</h4>
                            <a class="regular" href="@Url.Action("Giving", "Features")"><i class="fas fa-dollar-sign fa-fw icon"></i> Giving</a>
                            <a class="regular" href="@Url.Action("PrayerRequests", "Features")"><i class="fas fa-praying-hands fa-fw icon"></i> Prayer Requests</a>
                            <a class="regular" href="@Url.Action("Analytics", "Features")"><i class="fas fa-chart-line fa-fw icon"></i> Analytics &amp; Reporting</a>
                            <a class="regular" href="@Url.Action("People", "Features")"><i class="fas fa-users fa-fw icon"></i> People</a>
                        </div>
                        <div class="st-dropdown-content-group border-top bw-2">
                            <div class="row">
                                <div class="col me-4"><a href="@Url.Action("Index", "Pricing")">Pricing</a></div>
                                <div class="col me-4"><a href="@Url.Action("Index", "ScheduleDemo")">Schedule a Demo</a></div>
                                <div class="col me-4"><a href="@Url.Action("Index", "Blog")">Blog</a></div>
                            </div>
                        </div>
                        <div class="st-dropdown-content-group bg-light b-t"><a href="@ConfigurationManager.AppSettings["LoginPage"]">Sign In <i class="fas fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="st-dropdown-root">
        <div class="st-dropdown-bg">
            <div class="st-alt-bg"></div>
        </div>
        <div class="st-dropdown-arrow"></div>
        <div class="st-dropdown-container">
            <div class="st-dropdown-section" data-dropdown="components">
                <div class="st-dropdown-content">
                    <div class="st-dropdown-content-group">
                        <a class="dropdown-item" target="_blank" href="@Url.Action("Giving", "Features")">
                            <div class="d-flex align-items-center mb-4">
                                <div class="icon-md center-flex me-3"><i class="fas fa-dollar-sign fa-2x icon"></i></div>
                                <div class="flex-fill">
                                    <h3 class="link-title bold m-0">Giving</h3>
                                    <p class="m-0">Tithes and offerings made easy</p>
                                </div>
                            </div>
                        </a><a class="dropdown-item" target="_blank" href="@Url.Action("PrayerRequests", "Features")">
                            <div class="d-flex align-items-center mb-4">
                                <div class="icon-md center-flex me-3"><i class="fas fa-praying-hands fa-2x icon"></i></div>
                                <div class="flex-fill">
                                    <h3 class="link-title bold m-0">Prayer Requests</h3>
                                    <p class="m-0">Connect with those needing prayer</p>
                                </div>
                            </div>
                        </a><a class="dropdown-item" target="_blank" href="@Url.Action("Analytics", "Features")">
                            <div class="d-flex align-items-center mb-4">
                                <div class="icon-md center-flex me-3"><i class="fas fa-chart-line fa-2x icon"></i></div>
                                <div class="flex-fill">
                                    <h3 class="link-title bold m-0">Analytics &amp; Reporting</h3>
                                    <p class="m-0">Powerful real-time & historical data</p>
                                </div>
                            </div>
                        </a><a class="dropdown-item" target="_blank" href="@Url.Action("People", "Features")">
                            <div class="d-flex align-items-center mb-4">
                                <div class="icon-md center-flex me-3"><i class="fas fa-users fa-2x icon"></i></div>
                                <div class="flex-fill">
                                    <h3 class="link-title bold m-0">People</h3>
                                    <p class="m-0">Manage individuals, households, and volunteers</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>