@using PraiseCMS.Shared.Methods
@model PraiseCMS.DataAccess.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="login-forgot">
    <div class="mb-10">
        <h3>Forgot your Password?</h3>
        <div class="text-muted font-weight-bold">Enter your email address and we will email you a link to reset your password.</div>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()

        if (TempData.ContainsKey(TempDataKeys.AlertMessage) && TempData[TempDataKeys.AlertMessageType]?.ToString() == AlertMessageTypes.Success)
        {
            <div class="form-group d-flex flex-wrap flex-center">
                <a href="@Url.Action("Login", "Account")" id="kt_login_forgot" class="btn btn-light-primary">Back to login</a>
            </div>
        }
        else
        {
            <div class="form-group mb-5">
                <label class="text-muted" style="float:left;">Email Address</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "Enter your email address" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="mt-5">
                <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                    <a href="@Url.Action("Login","Account")" class="text-muted text-hover-primary font-weight-bold">Back to login</a>
                    <input type="submit" class="btn btn-primary font-weight-bold" value="Email Link" />
                </div>
            </div>
        }
    }
</div>