@model PraiseCMS.DataAccess.Models.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<div class="login-forgot">
    <div class="mb-10">
        <h3>Need to Reset Your Password?</h3>
        <div class="text-muted font-weight-bold">Set a new password below.</div>
    </div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Code)
        <div class="form-group mb-5">
            <label class="text-muted" style="float:left;">Email Address</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "Enter your email address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>
        <div class="form-group mb-5">
            <label class="text-muted" style="float:left;">New Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "Enter your new password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>
        <div class="form-group mb-5">
            <label class="text-muted" style="float:left;">Confirm Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "Enter your password again" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="mt-5">
            <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                <input type="submit" class="btn btn-primary font-weight-bold" value="Reset" style="width:100%;" />
            </div>
        </div>
    }
</div>