@model PraiseCMS.DataAccess.Models.ViewModels.SetupPasswordViewModel
@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewBag.Title = "Setup password";
}

<div class="login-forgot">
    <div class="mb-5">
        <h3>Set up your password</h3>
    </div>
    @using (Html.BeginForm("SetupPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @*@Html.HiddenFor(x => x.Code)*@
        <div class="form-group mb-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "Email" })
        </div>
        <div class="form-group mb-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "New Password" })
        </div>
        <div class="form-group mb-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-solid h-auto py-4 px-8", placeholder = "Confirm Password" })
        </div>
        <div class="form-group d-flex flex-wrap flex-center mt-10">
            <input type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2" value="Reset" />
        </div>
    }
</div>