@using PraiseCMS.Shared.Methods
@using Roles = PraiseCMS.Shared.Shared.Roles

@{
    var roles = Roles.Items.Where(q => !q.EqualsIgnoreCase(Roles.Administrator) && !q.EqualsIgnoreCase(Roles.SuperAdmin)).Distinct().OrderBy(x => x).ToArray();
}

@Html.Partial("~/Views/Shared/_Alert.cshtml")

<div id="user-roles">
    @using (Ajax.BeginForm(RouteHelpers.CurrentAction, RouteHelpers.CurrentController, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "user-roles" }, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
        if (roles.IsNotNullOrEmpty() && roles.Any())
        {
            <h3 class="font-size-lg text-dark font-weight-bold mb-6">Specify the new user's roles:</h3>
            <div class="form-group">
                <div class="checkbox-list">
                    <table>
                        <tbody>
                            @for (int i = 0; i < roles.Length; i++)
                            {
                                <tr>
                                    <td class="pb-2">
                                        <label class="checkbox">
                                            <input class="cbx_roles" type="checkbox" name="Roles" value="@roles[i]">@roles[i]
                                            <span></span>
                                        </label>
                                    </td>
                                    <td class="pb-2">
                                        @if (roles.Length > i + 1)
                                        {
                                            <label class="checkbox">
                                                <input class="cbx_roles" type="checkbox" name="Roles" value="@roles[i + 1]"> @roles[i + 1]
                                                <span></span>
                                            </label>
                                        }

                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>