@model PraiseCMS.DataAccess.Models.PrayerRequestsSummary
@{
    ViewBag.Title = "Prayer Request Senders";
}
@section leftsubheader{
    @Html.Partial("~/Views/Reports/_ReportSubheader.cshtml")
}
<div class="row">
    <div class="col-xl-2">
        <div class="card card-custom bg-primary card-stretch gutter-b">
            <div class="card-body">
                <i class="fas fa-users fa-2x text-white"></i>
                <span class="card-title font-weight-bolder text-white font-size-h3 mb-0 mt-6 d-block">@Model.SenderCounts.TotalSendersYTD</span>
                <span class="font-weight-bold text-white font-size-sm">Total Senders - YTD</span>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card card-custom bg-success card-stretch gutter-b">
            <div class="card-body">
                <i class="fas fa-user fa-2x text-white"></i>
                <span class="card-title font-weight-bolder text-white font-size-h3 mb-0 mt-6 d-block">@Model.SenderCounts.UniqueSendersYTD</span>
                <span class="font-weight-bold text-white font-size-sm">Unique Senders - YTD</span>
            </div>
        </div>
    </div>
    <div class="col-xl-2">
        <div class="card card-custom bg-danger card-stretch gutter-b">
            <div class="card-body">
                <i class="fas fa-sync-alt fa-2x text-white"></i>
                <span class="card-title font-weight-bolder text-white font-size-h3 mb-0 mt-6 d-block">@Model.SenderCounts.RepeatSendersYTD</span>
                <span class="font-weight-bold text-white font-size-sm">Repeat Senders - YTD</span>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom gutter-b" id="kt_card_1">
    <div class="card-header border-0 py-5">
        <div class="card-title">
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label font-weight-bolder text-dark">Requests by Sender</span>
            </h3>
        </div>
        <div class="card-toolbar">
            <a href="#" class="btn btn-icon btn-circle btn-sm btn-light-primary mr-2 toggle" data-toggle="tooltip" data-placement="top" title="Toggle Visibility">
                <i class="fas fa-chevron-down icon-nm toggle-icon"></i>
            </a>
            <a href="/Reports/ExportPrayerRequestSendersToCSV?dateRange=@Model.DateRange" class="btn btn-icon btn-sm btn-light-warning mr-2" data-toggle="tooltip" data-placement="top" data-original-title="Export">
                <i class="fas fa-file-export"></i>
            </a>
        </div>
    </div>
    <div class="card-body pt-0 pb-3">
        <div class="table-responsive">
            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                <thead>
                    <tr class="text-left text-uppercase">
                        <th style="min-width: 250px" class="pl-7">Type</th>
                        <th style="min-width: 100px" class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pl-5 py-8">
                            <span class="text-dark-75 d-block font-size-lg">Unique</span>
                        </td>
                        <td class="text-center">
                            <span class="text-dark-75 d-block font-size-lg">@Model.SenderCounts.UniqueSendersByDate</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="pl-5 py-8">
                            <span class="text-dark-75 d-block font-size-lg">Repeat</span>
                        </td>
                        <td class="text-center">
                            <span class="text-dark-75 d-block font-size-lg">@Model.SenderCounts.RepeatSendersByDate</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="tfoot-grey">
                    <tr class="text-left text-uppercase">
                        <th style="min-width: 250px" class="pl-7">Total</th>
                        <th style="min-width: 100px" class="text-center">@Model.SenderCounts.TotalSendersByDate</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
@section belowScripts
{
    <script type="text/javascript">
        $(function () {
            new KTCard('kt_card_1');
        });
    </script>
}