<a href="/settings" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-958595693250ac1c90e1ed47c98ba8 @Html.IsActive("settings", "Index", true)">Church Info</a>
<a href="/campuses" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-9320982602755ea0f9a4ba47d7a34e @Html.IsActive("campuses", "Index", true)">Campuses</a>
<a href="/campuses/buildings" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-51492312558dd6f218d89e4442bc18 @Html.IsActive("campuses", "buildings", true)">Buildings</a>
<a href="/campuses/floors" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-5323173932162ce09e86c645c0bf04 @Html.IsActive("campuses", "floors", true)">Floors</a>
<a href="/campuses/rooms" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-84480726728d26608ab6904c5191ec @Html.IsActive("campuses", "rooms", true)">Rooms</a>
@*<a href="/serviceareas" class="btn btn-hover-light-primary font-weight-bold btn-sm mr-2 module-07737697423e093561d03a485a9e64 @Html.IsActive("serviceareas", "Index", true)">Service Areas</a>*@