@model PraiseCMS.DataAccess.Models.CampusDashboard
@using PraiseCMS.Shared.Methods

@{
    ViewBag.Title = Model.Campus.Name + " Dashboard";
    var isAdmin = SessionVariables.CurrentUser.IsNotNull() && SessionVariables.CurrentUser.IsAdmin;

}

@section subheader{
    <div class="d-flex align-items-center">
        <span class="mr-2">Report Date Range:</span>
        <a href="#" class="btn btn-light btn-sm font-weight-bold mr-2" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select Date Range" data-placement="top">
            <span class="text-muted font-weight-bold mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
            <span class="text-primary font-weight-bold" id="kt_dashboard_daterangepicker_date">Aug 16</span>
            <span class="svg-icon svg-icon-sm svg-icon-primary ml-1">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <rect fill="#000000" x="2" y="4" width="19" height="4" rx="1" />
                        <path d="M3,10 L6,10 C6.55228475,10 7,10.4477153 7,11 L7,19 C7,19.5522847 6.55228475,20 6,20 L3,20 C2.44771525,20 2,19.5522847 2,19 L2,11 C2,10.4477153 2.44771525,10 3,10 Z M10,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,19 C14,19.5522847 13.5522847,20 13,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M17,10 L20,10 C20.5522847,10 21,10.4477153 21,11 L21,19 C21,19.5522847 20.5522847,20 20,20 L17,20 C16.4477153,20 16,19.5522847 16,19 L16,11 C16,10.4477153 16.4477153,10 17,10 Z" fill="#000000" opacity="0.3" />
                    </g>
                </svg>
            </span>
        </a>
    </div>
}

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="d-flex">
            <div class="flex-grow-1">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <div class="mr-3">
                        <span class="d-flex align-items-center text-dark font-size-h5 font-weight-bold">@Model.Campus.Display</span>
                        <div class="d-flex flex-wrap my-4">
                            @if (!string.IsNullOrEmpty(Model.Campus.Email))
                            {
                                <span class="text-muted font-weight-bold mr-lg-8 mr-5">
                                    <i class="fas fa-envelope text-primary mr-1"></i>@Model.Campus.Email
                                </span>
                            }
                            @if (!string.IsNullOrEmpty(Model.Campus.Phone))
                            {
                                <span class="text-muted font-weight-bold mr-lg-8 mr-5">
                                    <i class="fas fa-phone text-primary mr-1"></i>@Model.Campus.Phone
                                </span>
                            }
                            @if (!string.IsNullOrEmpty(Model.Campus.Address))
                            {
                                <span class="text-muted font-weight-bold">
                                    <i class="fa fa-map-marker-alt text-primary mr-1"></i>@Model.Campus.Address
                                </span>
                            }
                        </div>
                    </div>
                    <div class="my-lg-0 my-1">
                        @if (isAdmin)
                        {
                            @Html.AjaxModalLink("Edit", "/campuses/_editcampus?id=" + Model.Campus.Id, "Edit Campus", "Save", "btn btn-outline-primary font-weight-bold btn-sm mr-4", "", "", "", false, "") @(Model.Campus.IsActive ? null : ActiveStatuses.Inactive)
                        }
                        <a href="@Url.Action("Index", "Reports")" class="btn btn-sm btn-light-primary font-weight-bold">View Reports</a>
                    </div>
                </div>
                <div class="d-flex align-items-center flex-wrap justify-content-between">
                    <div class="d-flex flex-wrap align-items-center py-2">
                        <div class="d-flex align-items-center mr-2">
                            <div class="mr-6">
                                <div class="font-weight-bold mb-2">Upcoming Service(s)</div>
                                <span class="btn btn-sm btn-text btn-light-primary font-weight-bold mr-2">8:00 AM</span>
                                <span class="btn btn-sm btn-text btn-light-primary font-weight-bold mr-2">9:45 AM</span>
                                <span class="btn btn-sm btn-text btn-light-primary font-weight-bold">11:30 AM</span>
                            </div>
                            <div class="mr-6">
                                <div class="font-weight-bold mb-2">Next Event</div>
                                <span class="btn btn-sm btn-text btn-light-success text-uppercase font-weight-bold">Catalyst: 45 Days</span>
                            </div>
                            <div class="">
                                <div class="font-weight-bold mb-2">Christmas</div>
                                <span class="btn btn-sm btn-text btn-light-warning text-uppercase font-weight-bold">125 Days</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-center py-2">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0 mr-4">
                                <span class="font-weight-bold">Progress</span>
                                <div class="progress progress-xs mt-2 mb-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="font-weight-bolder text-dark">78%</span>
                            </div>
                            <div class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0">
                                <span class="font-weight-bold">Progress</span>
                                <div class="progress progress-xs mt-2 mb-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span class="font-weight-bolder text-dark">78%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-solid my-7"></div>
        <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1 p-5 bg-light-success">
                <span class="mr-4">
                    <i class="flaticon-piggy-bank icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column flex-grow-1 mr-2">
                    <span class="font-weight-bolder font-size-sm">Giving</span>
                    <span class="font-weight-bolder font-size-h5">
                        <a href="/campuses/giving?campusId=@Model.Campus.Id" class="text-primary font-weight-bolder">
                            <span class="font-weight-bolder">@Model.Payments.Sum(x => x.Amount).ToCurrencyString()</span>
                        </a>
                    </span>
                </div>
                <span class="font-weight-bolder text-success py-1 font-size-lg" data-toggle="tooltip" title="Compared to Last Period" data-placement="bottom">+7%</span>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1 p-5 bg-light-danger">
                <span class="mr-4">
                    <i class="flaticon-confetti icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column flex-grow-1 mr-2">
                    <span class="font-weight-bolder font-size-sm">Attendance</span>
                    <span class="font-weight-bolder font-size-h5">
                        <a href="#" class="text-primary font-weight-bolder">@Model.Attendance.Sum(x => x.Total).ToNumberString()</a>
                    </span>
                </div>
                <span class="font-weight-bolder text-danger py-1 font-size-lg" data-toggle="tooltip" title="Compared to Last Period" data-placement="bottom">-8%</span>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1 p-5 bg-light-success">
                <span class="mr-4">
                    <i class="flaticon-pie-chart icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column flex-grow-1 mr-2">
                    <span class="font-weight-bolder font-size-sm">Prayer Requests</span>
                    <span class="font-weight-bolder font-size-h5">
                        <a href="#" class="text-primary font-weight-bolder">@Model.PrayerRequests.Count().ToNumberString()</a>
                    </span>
                </div>
                <span class="font-weight-bolder text-success py-1 font-size-lg" data-toggle="tooltip" title="Compared to Last Period" data-placement="bottom">+10%</span>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1 p-5 bg-light-success">
                <span class="mr-4">
                    <i class="flaticon-pie-chart icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column flex-grow-1 mr-2">
                    <span class="font-weight-bolder font-size-sm">Salvations</span>
                    <span class="font-weight-bolder font-size-h5">
                        <a href="#" class="text-primary font-weight-bolder">@Model.Salvations.Sum(x => x.Total).ToNumberString()</a>
                    </span>
                </div>
                <span class="font-weight-bolder text-success py-1 font-size-lg" data-toggle="tooltip" title="Compared to Last Period" data-placement="bottom">+10%</span>
            </div>
            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1 p-5 bg-light-success">
                <span class="mr-4">
                    <i class="flaticon-chat-1 icon-2x text-muted font-weight-bold"></i>
                </span>
                <div class="d-flex flex-column flex-grow-1 mr-2">
                    <span class="text-dark-75 font-weight-bolder font-size-sm">Small Group Attendance</span>
                    <span class="font-weight-bolder font-size-h5">
                        <a href="#" class="text-primary font-weight-bolder">75</a>
                    </span>
                </div>
                <span class="font-weight-bolder text-success py-1 font-size-lg" data-toggle="tooltip" title="Compared to Last Period" data-placement="bottom">+15%</span>
            </div>
            <div class="d-flex align-items-center flex-lg-fill my-1">
                <span class="mr-4">
                    <i class="flaticon-network icon-2x text-muted font-weight-bold" data-toggle="tooltip" title="Campus Leadership Team" data-placement="bottom"></i>
                </span>
                <div class="symbol-group symbol-hover">
                    <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="Mark Stone">
                        <img alt="Pic" src="~/Content/assets/media/users/300_25.jpg" />
                    </div>
                    <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="Charlie Stone">
                        <img alt="Pic" src="~/Content/assets/media/users/300_19.jpg" />
                    </div>
                    <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="Luca Doncic">
                        <img alt="Pic" src="~/Content/assets/media/users/300_22.jpg" />
                    </div>
                    <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="Nick Mana">
                        <img alt="Pic" src="~/Content/assets/media/users/300_23.jpg" />
                    </div>
                    <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip" title="Teresa Fox">
                        <img alt="Pic" src="~/Content/assets/media/users/300_18.jpg" />
                    </div>
                    <div class="symbol symbol-30 symbol-circle symbol-light">
                        <span class="symbol-label font-weight-bold">5+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-lg-8">
<div class="card card-custom card-stretch gutter-b">
<div class="card-header border-0 py-5">
    <div class="card-title">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Small Groups</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">More than 400+ new members</span>
        </h3>
    </div>
    <div class="card-toolbar">
        <a href="#" class="btn btn-success font-weight-bolder font-size-sm">
            <span class="svg-icon svg-icon-md svg-icon-white">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                    </g>
                </svg>
            </span>Add New Member
        </a>
    </div>
</div>
<div class="card-body pt-0 pb-3">
<div class="table-responsive">
<table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
<thead>
<tr class="text-uppercase">
    <th style="min-width: 250px" class="pl-7">
        <span class="text-dark-75">products</span>
    </th>
    <th style="min-width: 100px">pruce</th>
    <th style="min-width: 100px">deposit</th>
    <th style="min-width: 150px">agent</th>
    <th style="min-width: 130px">status</th>
    <th style="min-width: 120px"></th>
</tr>
</thead>
<tbody>
<tr>
    <td class="pl-0 py-8">
        <div class="d-flex align-items-center">
            <div class="symbol symbol-50 flex-shrink-0 mr-4">
                <div class="symbol-label" style="background-image: url('../../Content/assets/media/stock-600x400/img-26.jpg')"></div>
            </div>
            <div>
                <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Sant Extreanet Solution</a>
                <span class="text-muted font-weight-bold d-block">HTML, JS, ReactJS</span>
            </div>
        </div>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$2,790</span>
        <span class="text-muted font-weight-bold">Paid</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$520</span>
        <span class="text-muted font-weight-bold">Paid</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Bradly Beal</span>
        <span class="text-muted font-weight-bold">Insurance</span>
    </td>
    <td>
        <span class="label label-lg label-light-primary label-inline">Approved</span>
    </td>
    <td class="text-right pr-0">
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z" fill="#000000" />
                    </g>
                </svg>

            </span>
        </a>
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                    </g>
                </svg>

            </span>
        </a>
    </td>
</tr>
<tr>
    <td class="pl-0 py-0">
        <div class="d-flex align-items-center">
            <div class="symbol symbol-50 flex-shrink-0 mr-4">
                <div class="symbol-label" style="background-image: url('../../Content/assets/media/stock-600x400/img-3.jpg')"></div>
            </div>
            <div>
                <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Telegram Development</a>
                <span class="text-muted font-weight-bold d-block">C#, ASP.NET, MS SQL</span>
            </div>
        </div>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$4,600</span>
        <span class="text-muted font-weight-bold">Pending</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$1,600</span>
        <span class="text-muted font-weight-bold">Rejected</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Chris Thompson</span>
        <span class="text-muted font-weight-bold">NBA Player</span>
    </td>
    <td>
        <span class="label label-lg label-light-warning label-inline">In Progress</span>
    </td>
    <td class="text-right pr-0">
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z" fill="#000000" />
                    </g>
                </svg>

            </span>
        </a>
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                    </g>
                </svg>

            </span>
        </a>
    </td>
</tr>
<tr>
    <td class="pl-0 py-8">
        <div class="d-flex align-items-center">
            <div class="symbol symbol-50 flex-shrink-0 mr-4">
                <div class="symbol-label" style="background-image: url('../../Content/assets/media/stock-600x400/img-5.jpg')"></div>
            </div>
            <div>
                <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">Payroll Application</a>
                <span class="text-muted font-weight-bold d-block">PHP, Laravel, VueJS</span>
            </div>
        </div>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$23,800</span>
        <span class="text-muted font-weight-bold">Paid</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$6,700</span>
        <span class="text-muted font-weight-bold">Paid</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Zoey McGee</span>
        <span class="text-muted font-weight-bold">Ruby Developer</span>
    </td>
    <td>
        <span class="label label-lg label-light-success label-inline">Success</span>
    </td>
    <td class="text-right pr-0">
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z" fill="#000000" />
                    </g>
                </svg>

            </span>
        </a>
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                    </g>
                </svg>

            </span>
        </a>
    </td>
</tr>
<tr>
    <td class="pl-0 py-0">
        <div class="d-flex align-items-center">
            <div class="symbol symbol-50 flex-shrink-0 mr-4">
                <div class="symbol-label" style="background-image: url('../../Content/assets/media/stock-600x400/img-18.jpg')"></div>
            </div>
            <div>
                <a href="#" class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">HR Management System</a>
                <span class="text-muted font-weight-bold d-block">Python, PostgreSQL, ReactJS</span>
            </div>
        </div>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$57,000</span>
        <span class="text-muted font-weight-bold">Paid</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">$14,000</span>
        <span class="text-muted font-weight-bold">Paid</span>
    </td>
    <td>
        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">Brandon Ingram</span>
        <span class="text-muted font-weight-bold">NBA Player</span>
    </td>
    <td>
        <span class="label label-lg label-light-danger label-inline">Rejected</span>
    </td>
    <td class="text-right pr-0">
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M8,4 L16,4 C17.1045695,4 18,4.8954305 18,6 L18,17.726765 C18,18.2790497 17.5522847,18.726765 17,18.726765 C16.7498083,18.726765 16.5087052,18.6329798 16.3242754,18.4639191 L12.6757246,15.1194142 C12.2934034,14.7689531 11.7065966,14.7689531 11.3242754,15.1194142 L7.67572463,18.4639191 C7.26860564,18.8371115 6.63603827,18.8096086 6.26284586,18.4024896 C6.09378519,18.2180598 6,17.9769566 6,17.726765 L6,6 C6,4.8954305 6.8954305,4 8,4 Z" fill="#000000" />
                    </g>
                </svg>

            </span>
        </a>
        <a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">
            <span class="svg-icon svg-icon-md svg-icon-primary">

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                    </g>
                </svg>

            </span>
        </a>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header h-auto border-0">
            <div class="card-title py-5">
                <h3 class="card-label">
                    <span class="d-block text-dark font-weight-bolder">Salvations</span>
                    <span class="d-block text-muted mt-2 font-size-sm">More than 500+ new orders</span>
                </h3>
            </div>
            <div class="card-toolbar">
                <ul class="nav nav-pills nav-pills-sm nav-dark-75" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_1">
                            <span class="nav-text font-size-sm">Month</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_2">
                            <span class="nav-text font-size-sm">Week</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-2 px-4 active" data-toggle="tab" href="#kt_charts_widget_2_chart_tab_3">
                            <span class="nav-text font-size-sm">Day</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div id="kt_charts_widget_3_chart"></div>
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="col-lg-4">
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header border-0">
            <h3 class="card-title font-weight-bolder text-dark">Dream Team</h3>
            <div class="card-toolbar">
                <div class="dropdown dropdown-inline">
                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ki ki-bold-more-ver"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                        <ul class="navi navi-hover">
                            <li class="navi-header font-weight-bold py-4">
                                <span class="font-size-lg">Choose Label:</span>
                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="navi-separator mb-3 opacity-70"></li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-success">Customer</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-danger">Partner</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-warning">Suplier</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-primary">Member</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-dark">Staff</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-separator mt-3 opacity-70"></li>
                            <li class="navi-footer py-4">
                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                    <i class="fas fa-plus icon-sm"></i>Add new
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-2">
            @if (Model.ServiceAreas.Any())
            {
                foreach (var item in Model.ServiceAreas.Take(5))
                {
                    <div class="d-flex flex-wrap align-items-center mb-10">
                        <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                            <div class="symbol-label" style="background-image: url('../../Content/assets/media/stock-600x400/img-17.jpg')"></div>
                        </div>
                        <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
                            <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@item.Display</a>
                            <span class="text-muted font-weight-bold font-size-sm my-1">Local, clean &amp; environmental</span>
                            <span class="text-muted font-weight-bold font-size-sm">
                                Created by:
                                <span class="text-primary font-weight-bold">CoreAd</span>
                            </span>
                        </div>
                        <div class="d-flex align-items-center py-lg-0 py-2">
                            <div class="d-flex flex-column text-right">
                                <span class="text-dark-75 font-weight-bolder font-size-h4">75</span>
                                <span class="text-muted font-size-sm font-weight-bolder">Active</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header h-auto border-0">
            <div class="card-title py-5">
                <h3 class="card-label">
                    <span class="d-block text-dark font-weight-bolder">Recent Stats</span>
                    <span class="d-block text-muted mt-2 font-size-sm">More than 400+ new members</span>
                </h3>
            </div>
            <div class="card-toolbar">
                <div class="dropdown dropdown-inline">
                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ki ki-bold-more-hor"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                        <ul class="navi">
                            <li class="navi-header font-weight-bold py-5">
                                <span class="font-size-lg">Add New:</span>
                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="navi-separator mb-3 opacity-70"></li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-shopping-cart-1"></i>
                                    </span>
                                    <span class="navi-text">Order</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="navi-icon flaticon2-calendar-8"></i>
                                    </span>
                                    <span class="navi-text">Members</span>
                                    <span class="navi-label">
                                        <span class="label label-light-danger label-rounded font-weight-bold">3</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="navi-icon flaticon2-telegram-logo"></i>
                                    </span>
                                    <span class="navi-text">Project</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="navi-icon flaticon2-new-email"></i>
                                    </span>
                                    <span class="navi-text">Record</span>
                                    <span class="navi-label">
                                        <span class="label label-light-success label-rounded font-weight-bold">5</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-separator mt-3 opacity-70"></li>
                            <li class="navi-footer pt-5 pb-4">
                                <a class="btn btn-light-primary font-weight-bolder btn-sm" href="#">More options</a>
                                <a class="btn btn-clean font-weight-bold btn-sm d-none" href="#" data-toggle="tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="kt_charts_widget_1_chart"></div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card card-custom card-stretch gutter-b">
        <div class="card-header border-0">
            <h3 class="card-title font-weight-bolder text-dark">Recent Sign-Ups</h3>
            <div class="card-toolbar">
                <div class="dropdown dropdown-inline">
                    <a href="#" class="btn btn-light-primary btn-sm font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="">
                        <ul class="navi navi-hover">
                            <li class="navi-header pb-1">
                                <span class="text-primary text-uppercase font-weight-bold font-size-sm">Manage Users:</span>
                            </li>
                            <li class="navi-item">
                                <a href="/users" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-user"></i>
                                    </span>
                                    <span class="navi-text">View All</span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="/users/create" class="navi-link">
                                    <span class="navi-icon">
                                        <i class="flaticon2-user-1"></i>
                                    </span>
                                    <span class="navi-text">Add User</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body pt-2">
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <div class="d-flex align-items-center mb-10">
                        <div class="symbol symbol-40 symbol-light-success mr-5">
                            <span class="symbol-label">
                                <img src="~/Content/assets/media/svg/avatars/009-boy-4.svg" class="h-75 align-self-end" alt="">
                            </span>
                        </div>
                        <div class="d-flex flex-column flex-grow-1 font-weight-bold">
                            <a href="/users/myprofile?userid=@user.Id" class="text-dark text-hover-primary mb-1 font-size-lg">@user.Display</a>
                            <span class="text-muted">@user.CreatedDate.ToShortDateString()</span>
                        </div>
                        <a href="/users/myprofile?userid=@user.Id" class="btn btn-light-primary font-weight-bolder btn-sm">
                            View
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>
</div>