@model PraiseCMS.DataAccess.Models.IPBlacklist

<div id="ip-blacklist-div">
    @using (Ajax.BeginForm(RouteHelpers.CurrentAction, RouteHelpers.CurrentController, new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ip-blacklist-div" }, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.CreatedDate)
        <div class="form-group">
            <label>IP Address</label>
            @Html.TextBoxFor(x => x.IpAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.IpAddress, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Latitude</label>
            @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Latitude, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Longitude</label>
            @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Longitude, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Reason</label>
            @Html.TextBoxFor(x => x.Reason, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Reason, "", new { @class = "text-danger" })
        </div>
    }
</div>