@using PraiseCMS.Shared.Methods
@model PraiseCMS.DataAccess.Models.ViewModels.IPViewModel

@{
    ViewBag.Title = "Blacklisted IPs";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewBag.Title
            </h3>
        </div>
        <div class="card-toolbar">
            @Html.AjaxModalLink("Blacklist IP", "/superadmin/_CreateBlacklistedIP", "Blacklist IP", "Save", "btn btn-light-primary font-weight-bold", "")
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Reason</th>
                        <th>Last Updated</th>
                        <th>By</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.IPBlacklists.Any())
                    {
                        foreach (var item in Model.IPBlacklists.OrderBy(x => x.IpAddress))
                        {
                            <tr>
                                <td>
                                    @Html.AjaxModalLink(item.IpAddress, "/superadmin/_EditBlacklistedIP/" + item.Id, "Edit IP", "Save", "", "", "/superadmin/DeleteBlacklistedIp/" + item.Id)
                                </td>
                                <td>
                                    <span>@(!string.IsNullOrEmpty(item.Latitude) ? item.Latitude : "")</span>
                                </td>
                                <td>
                                    <span>@(!string.IsNullOrEmpty(item.Longitude) ? item.Longitude : "")</span>
                                </td>
                                <td>
                                    <span>@(!string.IsNullOrEmpty(item.Reason) ? item.Reason : "")</span>
                                </td>
                                <td>
                                    @if (item.ModifiedDate.IsNotNullOrEmpty())
                                    {
                                        <span>@item.ModifiedDate</span>
                                    }
                                    else
                                    {
                                        <span>@item.CreatedDate</span>
                                    }
                                </td>
                                <td>
                                    @if (item.ModifiedBy.IsNotNullOrEmpty())
                                    {
                                        <span>@Model.Users.FirstOrDefault(x => x.Id == item.ModifiedBy).Display</span>
                                    }
                                    else
                                    {
                                        <span>@Model.Users.FirstOrDefault(x => x.Id == item.CreatedBy).Display</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">You don't have any blacklisted IPs yet.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>