<a href="/events" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module-72142377372b70c1df42a948a08c39 @Html.IsActive("events", "Index", true)">Event Dashboard</a>
<a href="/events/manage" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module-79308018387bddf86d2cd6497890e9 @Html.IsActive("events", "manage", true)">Manage Events</a>
<a href="/events/stations" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module-7747676769a0c86ce66e6045649ae0 @Html.IsActive("events", "stations", true)">Stations</a>
<a href="/events/labels" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module-7566091587eb1193b369cf404e9c32 @Html.IsActive("events", "labels", true)">Labels</a>
<a href="/churcheventtypes" class="btn btn-hover-light-primary btn-sm font-weight-bold mr-2 module-926911928103512b11b7a34eb98b9c @Html.IsActive("churcheventtypes", "Index", true)">Event Types</a>